@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@plugin "daisyui";

@custom-variant dark (&:where(.dark, .dark *));

body {
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

@theme {
    --color-primary-light: #FFF9ED;
    --color-primary-dark: #13130D;
    --color-secondary-c: #5A684E;
    --color-secondary-o: #FA853D;
    --color-card-light: #FFE6CC;
    --color-card-dark: #262626;
}